body {
    font-family: Calibri, Arial;
    text-align: center;
    background-color: #F5E6C8;
    padding: 50px;
}

h1 {
    font-size: 1rem;
}

h2 {
    font-size: 1rem;
}

button {
    padding: 10px 18px;
    margin: 10px;
    font-size: 12px;
    cursor: pointer;
}

#upgrades {
    margin-top: 10px;
}
