body {
    font-family: Calibri, Arial;
    text-align: center;
    background-color: #F5E6C8;
    margin-top: 100px;
}

h1 {
    font-size: 1rem;
}

h2 {
    font-size: 1rem;
}

button {
    padding: 12px 20px;
    font-size: 12px;
    margin: 10px;
    cursor: pointer;
}

#upgradeButton: disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
